@import url('https://fonts.google.com/specimen/Lora?preview.text_type=custom');
@import url('https://fonts.google.com/specimen/Coda+Caption?preview.text_type=custom');
:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;

  font-family: 'Laro', sans-serif;
  background-color: rgb(27, 31, 30);
  color: rgb(177, 161, 141);
}
header {
  text-shadow: 1.5rem;
  color: black;
  text-align: center;
  background-color: rgb(141, 116, 78);
  padding: 0.5rem;
  margin: auto;
  border: dotted;
}
a:link,
a:visited {
  text-decoration: none;
  color: rgb(180, 93, 61);
}
a:focus,
a:hover,
a:active {
  text-decoration: underline;
}
li h2 {
  font-family: 'Coda Caption';
  text-decoration: underline;
}
ul {
  list-style: none;
}
li {
  padding: 0.5rem;
}
li img {
  margin-right: 3rem;
  height: 200px;
  width: 200px;
  object-fit: cover;
}
